.App {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.appHeader * {
    display: flex;
    height: 60px;
    /*justify-content: space-between;*/
    align-items: center;
}
.pageContent {
    display: flex;
    flex: 1;
    overflow-y: auto;
    padding: 30px;
}
.appFooter {
    height: 60px;
    background-color: white;
}

.navbar {
    /*flex: auto;*/
}

